extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Carline Senat

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer, Python Charmer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p I wouldn't say I'm a jack of all trades, rather, I'm an ideas person that finally has the tools to make them come to life. I've come from a background in Linguistics and that has taken me to working and living in Japan. My creativity led me to a role in localization and marketing, and now I want to create products and apps that can help make others' lives easier.

      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li Front End Development (HTML/CSS)
          li Python
          li DSA (Data Structures and Algorithms)
          li Localization and Translation in Japanese and French
          li JavaScript
          li Git and GitHub
          li Flask
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Python

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 858-308-6176
          li carlinecodes@email.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://linkedin.com/in/carlinesenat') LinkedIn
        a.btn-link(href='https://github.com/lattei') GitHub
        a.btn-link(href='https://twitter.com/idonthaveatwitter') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back