extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Carline Senat

        
        p Full Stack JavaScript Developer, Python Charmer


        .about-bio

          p I wouldn't say I'm a jack of all trades, rather, I'm an ideas person that finally has the tools to make them come to life. I've come from a background in Linguistics and that has taken me to working and living in Japan. My creativity led me to a role in localization and marketing, and now I want to create products and apps that can help make others' lives easier.

      .skills-contact-box.box
        h6 Skills

        
        ul
          li Front End Development (HTML/CSS)
          li Python
          li DSA (Data Structures and Algorithms)
          li Localization and Translation in Japanese and French
          li JavaScript
          li Git and GitHub
          li Flask
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Python

        h6 Contact Info

        ul
          li 858-308-6176
          li carlinecodes@email.com

        a.btn-link(href='https://linkedin.com/in/carlinesenat') LinkedIn
        a.btn-link(href='https://github.com/lattei') GitHub
        a.btn-link(href='https://twitter.com/idonthaveatwitter') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back