extends layout.pug

block content

  article.portfolio-intro

    title Carline's Corner
    h1 Hi, I'm Carline and welcome to my crib!

    
    p As a cyber citizen since Y2K, I have finally decided to embark on my journey to become a full fledged software engineer. It's been decades in the making.
    p Armed with the tools I've learned from self-study, Ada Developers Academy, AnitaB.org, Team Treehouse and Intuit, I aim to become the ultimate team player to any software development team. Put me in, coach!
    p Here are the current projects I've worked on during my TechDegree journey with Team Treehouse. If you want to check out my previous work from Ada Developers Academy, click here.
    


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`/static/${project.image_urls[0]}`, alt=`${project.id}`)
            h5 #{project.project_name}

